In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("test_db.db")

In [2]:
if conn:
    dataset = pd.read_sql(
    """SELECT 
        s.id AS sale_id,
        s.db_amount AS total_sale,
        s.db_date AS date,
        s.db_hour AS time,
        s.db_payment_method AS payment_method,
        p.id AS product_id,
        p.db_product_name AS product_name,
        sd.db_quantity AS quantity,
        sd.db_unit_price AS unit_price,
        sd.db_subtotal AS subtotal
    FROM sales s
    JOIN sales_details sd ON s.id = sd.db_sale_id
    JOIN inventory_stock p ON sd.db_product_id = p.id
    WHERE s.id = 1;""",  # Modify the id as you want
    conn)
dataset.to_csv('database.csv', index=False)

In [3]:
database = 'database.csv'
df = pd.read_csv(database)
df.head(5)

Empty DataFrame
Columns: [sale_id, total_sale, date, time, payment_method, product_id, product_name, quantity, unit_price, subtotal]
Index: []